<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title align = "center" > <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon> login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="no-scroll">
  
  <div class="container">

    <!-- background image  -->
    <img class="background-img" src="assets/imgs/lock.jpg">
    <!-- <div class="background-img-overlay"></div> -->
    
    <!-- sign in box  -->
    <div class="signbox-position"> 
      
      <div align = "center" class="sign-in-box"> </div> 
        
      <ion-item class="item-trans">
        <ion-label floating>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
        
      <ion-item class="item-trans">
        <ion-label  floating>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    
      <div class="signbox-btn" align = "center">
        <button ion-button outline>Sign Up</button>&emsp;
        <button ion-button color="secondary"  outline >Sign In</button>
      </div>
   
    </div>  
    
  </div>

</ion-content>
