page-login {


    .background-img{
        height: 100vh;
        width: 100%;
        position: absolute;

    } 
    .no-scroll .scroll-content{
        overflow: hidden;
    }   
    .background-img-overlay{
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: rgb(50, 50, 51);
        opacity: 0.5;
    }
    .container{
        position: relative;
    }
    .sign-in-box{
        padding: 10%;
        width: 84%;
        height: 40vh;
        position: absolute;
        box-shadow: 1px 0px 29px 5px rgba(204, 195, 190, 0.73);
       
    }
    .signbox-position{ 
        padding: 8%;
        padding-top: 20vh;
    }
    .item-trans{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }
    .signbox-btn{
        padding:5%;
    }
}
