<!--
  Generated template for the SignUp2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar > 
    <ion-title >
        <button style="font-size: 3vh" ion-button icon-only clear><ion-icon name="ios-arrow-back"></ion-icon></button>&emsp;&emsp;&emsp;&nbsp;&nbsp;
        Sign-Up &emsp;&emsp;&emsp;&nbsp;&nbsp;
        <button style="font-size: 3vh" ion-button icon-only clear><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
   
    <img class="cover-image" src ="assets/imgs/signup-cover.jpg">
    <div class="cover-image-overlay"></div>
     
    <div class="profile-position">    
      <img class="profile-placeholder" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
    </div>
    <p class="name-position">Student Name</p>

    <div  class="details-box">
     
        <ion-item>
          <ion-label fixed>Faculty</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label float>Confirm password</ion-label>
          <ion-input type="password" value=""></ion-input>
        </ion-item> 

      </div>
    <div class="next-btn" >
    <button ion-button full large>Register</button>
  </div>

</ion-content>
