page-sign-up2 {
    .cover-image{
        height: 40vh;
        width: 100%;
        position: absolute;
        box-shadow: 4px;
    }
    .cover-image-overlay{
        height: 40vh;
        width: 100%;
        background-color: rgb(17, 15, 15);
        opacity: 0.7;
        position: absolute;
    }
    .profile-placeholder{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: antiquewhite;
        position: absolute;
    }
    .profile-position{
        padding-top:5%;
        padding-left: 27%
    }
    .name-position{
        font-size: 3vh;
        padding-top: 45%;
        padding-left:32%;
        position: absolute;
        color: azure;

    }
    .details-box{
        padding-top:65%;
    }
    .next-btn{
        padding-top:3%;
        size: 10vh;
    }
}
