<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <ion-buttons left>
            <button ion-button icon-only (click)="viewCtrl.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons> -->
          <ion-title style="padding-left: 25%"> Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card align="center">
    <ion-card-header>
      Content Upload
    </ion-card-header>

    <ion-list>
      <button ion-item>
        <ion-icon item-start>  <img class ="pdf-icon" src="assets/imgs/icon/pdf.png" alt=""></ion-icon>
        PDF Doc 
      </button>

      <button ion-item>
        <ion-icon item-start><img class ="pdf-icon" src="assets/imgs/icon/imgup.png" alt=""></ion-icon>
        Images
      </button>

      <button ion-item>
        <ion-icon item-start> <img class ="pdf-icon" src="assets/imgs/icon/video-icon.png" alt=""> </ion-icon>
        Video Tutorials
        <button ion-button color="secondary" outline small >Soon</button>
      </button>

      <br>
    </ion-list>

  </ion-card>

  <br>

  <ion-card align="center">
    
    <ion-card-header>
      Add Subject
    </ion-card-header>

    <ion-list>
     
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label fixed>Code</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      
      <ion-item>
        Image  
        <ion-icon style="padding-right: 10%" item-end><img class ="pdf-icon" src="assets/imgs/icon/add-icon.png" alt=""></ion-icon>
      </ion-item>
      
      <br>
      
      <ion-item style="padding-right: 10%" >
          <button item-end ion-button outline>Save</button>
      </ion-item>
    
    </ion-list>
    <br>
  </ion-card>

  <br>

  <ion-card align="center">
    
    <ion-card-header>
      Add Coures
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="gaming">
          <ion-option value="nes">Maths</ion-option>
          <ion-option value="n64">Physics</ion-option>
          <ion-option value="ps">Chemestry</ion-option>
          <ion-option value="genesis">ICT</ion-option>
          <ion-option value="saturn">Computer Science</ion-option>
          <ion-option value="snes">Other</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Course Name</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label fixed> Description </ion-label>
        <ion-textarea #msgInput rows="2" maxLength="500"></ion-textarea>
      </ion-item>
      
      <ion-item>
          Image  
          <ion-icon style="padding-right: 10%" item-end><img class ="pdf-icon" src="assets/imgs/icon/add-icon.png" alt=""></ion-icon>
      </ion-item>
      
      <br>
     
      <ion-item style="padding-right: 10%">
          <button item-end ion-button outline>Save</button>
      </ion-item>
   
    </ion-list>
    <br>
  </ion-card>


</ion-content>
