<!--
  Generated template for the MyCoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-grid>
          <ion-title style="padding-left: 25%">{{title}}</ion-title>
        </ion-grid>
      </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <img src="https://cdn.kastatic.org/googleusercontent/tnStHQPxb2RQ3pN1hRthlmxh2bghSqHkZj6O94fI7Lnnz4F9IBzhN8sxChnEF1LMNbztRXBzrm7sepqko-OIy_Ll"/>
    
    <ion-card-content>
     
      <ion-card-title>
        Differential Equation
      </ion-card-title>

      <p> A differential equation is a mathematical equation that relates some function with its derivatives...</p>
     
      <ion-grid>
        <ion-row>
          <ion-col col-6><button ion-button color="danger" outline>Remove</button></ion-col>
          <ion-col align = "right" col-6><button ion-button color="secondary" outline>Learn</button></ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
   
  </ion-card>

  <ion-card>

      <img src="https://etc.usf.edu/clipart/86300/86368/86368_mechanics_md.gif"/>
      
      <ion-card-content>
       
        <ion-card-title>
          mechanics in physics
        </ion-card-title>
  
        <p> Mechanics is that area of science which is concerned with the behaviour of physical bodies when subjected to forces...</p>
       
        <ion-grid>
          <ion-row>
            <ion-col col-6><button ion-button color="danger" outline>Remove</button></ion-col>
            <ion-col align = "right" col-6><button ion-button color="secondary" outline>Learn</button></ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-card-content>
     
    </ion-card>

    <ion-card>

        <img src="https://blogs.perficient.com/perficientdigital/files/2015/06/ComputerCodeBetter.jpg"/>
        
        <ion-card-content>
         
          <ion-card-title>
           Computer Programming
          </ion-card-title>
    
          <p> Computer programming is a process that leads from an original formulation of a computing problem to executable computer programs.</p>
         
          <ion-grid>
            <ion-row>
              <ion-col col-6><button ion-button color="danger" outline>Remove</button></ion-col>
              <ion-col align = "right" col-6><button ion-button color="secondary" outline>Learn</button></ion-col>
            </ion-row>
          </ion-grid>
    
        </ion-card-content>
       
      </ion-card>
  

</ion-content>
