
page-home {
    .cover-image{
        height: 40vh;
        width: 100%;
        box-shadow: 4px;
        position: absolute;
    }
    .cover-image-overlay{
        height: 40vh;
        width: 100%;
        background-color: rgb(17, 15, 15);
        opacity: 0.7;
        position: absolute;
    }
    .menu-icon{
        height: 45px;
        width: 45px;
    }
    .container{
        width: 100%;
        padding-top: 55%;
        padding-left: 3%;
        position: absolute;
    }
    .subject-icon{
        border-radius: 50%;
        height: 75px;
        width: 80px;
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.46);
    }
    .title-home{
        position: absolute;
        color: azure;
        padding: 2%;
    }
    .leocode{
        height: 100px;
        width: 150px;
    }
    .logo-position{
        padding-top: 5%;
        padding-left: 30%;
        position: absolute;
        color: azure;
    }
    
}
