<!-- <ion-header>
  <ion-navbar >
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div>
    <!-- ********cover image*********** -->
   
    <img class="cover-image" src ="assets/imgs/home-cover.jpg">
    <div class="cover-image-overlay"></div>
   
    <!-- *******title- home ********** -->
   
    <div class="title-home" > 
      <button style="color: aliceblue" ion-button round outline>Home</button>
    </div>
   
    <!-- **********slider toggle button********** -->
   
    <div align="right" >
      <button ion-button icon-only clear menuToggle large>
        <img  class="menu-icon" src="assets/imgs/graduation_cap1.png" alt=""> 
      </button>
    </div>

    <div class="logo-position" >
        <img class="leocode" src="assets/imgs/logoleo.png" alt="">
        <p>Developed by LeoCode </p>
    </div>
   
  </div>
  
  <!-- ********************* Subjects Icons********************** -->

  <div class="container">
   
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of store.subjets" (click)=" btnClick(item.id, item.subject)" align="center" col-3>
          <img class="subject-icon" [src]="item.image" alt=""> {{item.subject}}
        </ion-col>

  
        <!-- <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/5.png" alt=""> </ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/6.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/7.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/8.png" alt=""></ion-col>
  
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/9.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/10.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/11.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/12.png" alt=""></ion-col>
 
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/13.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/14.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/15.png" alt=""></ion-col>
        <ion-col align="center" col-3><img class="subject-icon" src="assets/imgs/subico/16.png" alt=""></ion-col>
       -->
      </ion-row>
      <br>
    </ion-grid>
  </div>

</ion-content>
