<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar > 
      <ion-title >
          <button style="font-size: 3vh" ion-button icon-only clear><ion-icon name="ios-arrow-back"></ion-icon></button>&emsp;&emsp;&emsp;&nbsp;&nbsp;
          Sign-Up 
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content class="no-scroll">

  <img class="cover-image" src ="assets/imgs/signup-cover.jpg">
  <div class="cover-image-overlay"></div>
   
  <div class="profile-position">    
    <img class="profile-placeholder" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt=""> 
   
    <div class="camera-position">
      <img class="camera-icon" src="assets/imgs/subico/camera.png" >
    </div> 
  </div>
 
  <div  class="details-box">
     
    <ion-item>
      <ion-label fixed>First Name</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Last Name</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Gender</ion-label>
      <ion-select [(ngModel)]="Gender">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Index No</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
      
  </div>

  <div class="started-btn" >
    <button ion-button full large>Get Started </button>
  </div>
  
</ion-content>
