page-sign-up {
   
    .cover-image{
        height: 40vh;
        width: 100%;
        position: absolute;
        box-shadow: 4px;
    }
    .cover-image-overlay{
        height: 40vh;
        width: 100%;
        background-color: rgb(17, 15, 15);
        opacity: 0.7;
        position: absolute;
    }
    .profile-placeholder{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: antiquewhite;
        position: absolute;
    }
    .camera-position{
        padding-top:33%;
        padding-left: 33%;
    }
    .camera-icon{
        width: 70px;
        height: 70px;
        position: absolute;
    }
    .profile-position{
        padding-top:10%;
        padding-left: 27%
    }
    .details-box{
        padding-top:35%;
    }
    .started-btn{
        padding-top:3%;
        size: 10vh;
    }

}
