// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sliderbg-image{
    opacity: 40%;
    height:100%;
    width: 100%;
    position: absolute;	 
}
.menu-item{
    position: absolute;
    color: white;
    padding-top: 40vh;
    padding-left: 16%;
}
.image-container{
    position: relative;
   
}
.profile-image{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: absolute;
    border-width: 10px;
    border:5px solid whitesmoke;
    padding: 2%;
}
.no-scroll .scroll-content{
    overflow: hidden;
}
.profile-position{
    padding-top: 5%;
    padding-left: 20%;
    
}
.user-name{
    padding-top: 30vh;
    position: absolute;
    color: white;
   padding-left: 20%;
//    padding-right: 25%;
   font-size: 3vh;
}
.index-num{
    font-size: 2vh;
}
.slider-color{
    
    height:100%;
    width: 100%;
    position: absolute;
    background-color: rgb(4, 3, 7);
    opacity: 0.6;
}
.menu-btn{
    padding-right: 50%;
    color: aliceblue;
}
