<ion-menu  [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title align = "center">
          <ion-icon ios="logo-tux" md="logo-tux" style="color: rgb(186, 107, 12)"></ion-icon>  Sylla
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  class="no-scroll" >  
    <div class="container"> 

      <img class ="sliderbg-image" src="assets/imgs/sidebarbgimg.jpg">
     
      <div class="slider-color"></div>
      
      <div class="profile-position"><img class="profile-image" src="assets/imgs/profileimg.png"></div>
      
      <div class="user-name">Tharuka Gunasekara <p class="index-num" align="center">16ASI012</p></div>
      
      <div class="menu-item">   

          <ion-list  >
              
            <button ion-button  menuClose clear class="menu-btn" (click)="openHome()" small >
              <ion-icon name="ios-planet-outline" ion-start  ></ion-icon> &emsp; Home
            </button>
          </ion-list>

          <ion-list  >
            <button ion-button  menuClose clear class="menu-btn" (click)="openDashboard()" small>
              <ion-icon class="menu-icon" name="ios-color-palette-outline"></ion-icon>&emsp;  Dashboard
            </button>
          </ion-list>

          <ion-list  >
            <button ion-button  menuClose clear class="menu-btn"  small (click)=openCourses()>
              <ion-icon class="menu-icon" name="ios-appstore-outline"></ion-icon>&emsp;  My Courses
            </button>
          </ion-list>

          <ion-list  >
            <button ion-button  menuClose clear class="menu-btn" small (click)="openAccount()" >
              <ion-icon class="menu-icon" name="ios-settings-outline"></ion-icon>&emsp; Account settings
            </button>
          </ion-list>

          <ion-list  >
            <button ion-button clear class="menu-btn" small >
              <ion-icon class="menu-icon" name="md-log-out"></ion-icon>&emsp; Sign Out
            </button>
          </ion-list>
          
      </div>

    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>