<!--
  Generated template for the SubjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-title style="padding-left: 25%"> Subjects</ion-title>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>Click add button to save to my courses</div>
  
  <ion-card>
    <ion-card-header>
      MATHS
    </ion-card-header>
  
    <ion-list>
      <ion-grid>
       
        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
              Diferential Equation
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
            Logic and Set Theory
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
            Complex Numbers
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
            Vector Calculus
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
            Linear Algebra
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-9 ion-item >
            <ion-icon ios="ios-calculator" md="md-calculator" item-start></ion-icon>
            Real Analysis
            </ion-col>
          <ion-col col-3 align="left"> <button ion-button color="secondary" outline small>add</button> </ion-col>
        </ion-row>

      </ion-grid>
    </ion-list>
  </ion-card>

</ion-content>
