page-account {

    .cover-image{
        height: 40vh;
        width: 100%;
        position: absolute;
        box-shadow: 4px;
    }
    .cover-image-overlay{
        height: 40vh;
        width: 100%;
        background-color: rgb(17, 15, 15);
        opacity: 0.7;
        position: absolute;
    }
    .profile-placeholder{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: antiquewhite;
        position: absolute;
    }
    .profile-position{
        padding-top:10%;
        padding-left: 27%
    }
    .details-box{
        padding-top:60%;
    }
   .save-textbtn{
    //    padding-top: 3%;
       font-size: 3vh;
       color: rgb(72, 106, 243);
   }
   .change-photobtn{
       position: absolute;
       padding-left:28%;
       padding-top: 43%;
   }
   .name-font{
       font-size: 2.5vh;
       color: black;
       box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.05);
   }
}
.selectWrapper {
	.select-icon {
        visibility: hidden;
        appearance:none;
	}
}