<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-9> <ion-title align="center">Account</ion-title></ion-col>
        <ion-col col-3 class="save-textbtn" align="right"> save</ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>



<ion-content >

  <img class="cover-image" src ="assets/imgs/signup-cover.jpg">
  <div class="cover-image-overlay"></div>
    
  <div class="profile-position">    
    <img class="profile-placeholder" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt=""> 
  </div>

  <div class="change-photobtn"> <button ion-button color="secondary" outline>Change Photo </button> </div>


  <div  class="details-box">
      <ion-grid>
        <ion-row>
            <ion-col class="name-font" col-4>Welcome,</ion-col> 
            <ion-col class="name-font" col-8>Tharuka Dilhan Gunasekara</ion-col> 
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Index No</ion-col> 
            <ion-col class="name-font" col-8>16ASI012</ion-col> 
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Gender</ion-col> 
            <ion-col class="name-font" col-8>Male</ion-col> 
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Subjects</ion-col> 
            <ion-col class="name-font" col-8>PHY/MAT/ICT</ion-col> 
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Faculty</ion-col> 
            <ion-col class="name-font" col-8>FAS</ion-col> 
            
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Email </ion-col> 
            <ion-col class="name-font" col-8>tharukadilhan1@gmail.com</ion-col> 
        </ion-row>
        <ion-row >
            <ion-col align= "right"> 
                <button style="padding-left: 7%; padding-right: 7%" ion-button color="secondary">Change Details</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="name-font" col-4>Password</ion-col> 
            <ion-col class="name-font" col-8>*************</ion-col> 
        </ion-row>
        <ion-row >
            <ion-col class="selectWrapper" align="right">
                <button ion-button color="secondary">
                    Change Password
                </button> 
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col padding class="name-font" col-4>Acc. Type</ion-col> 
            <ion-col class="name-font" col-8><button ion-button color="danger" outline>Admin</button></ion-col> 
        </ion-row>
        <br>
      </ion-grid>
      

  </div>
</ion-content>